 * {
     margin: 0;
     padding: 0;
 }
 /*导航栏*/
  /*顶头导航栏*/
 /*
     ul class名字daohanglan   
  */
.top-guide{
    position:fixed;
    z-index:1;
    width:100%
}

 .daohanglan {
     list-style-type: none; /*列表的标致：无。默认是点*/
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333; /*溢出的内容，隐藏*/
 }

 .daohanglan li {
     float: left;  /*这个让每个li都横着排列，去调后就竖着了*/
 }
 /* 定义li*/

 .daohanglan li a,
 .dropbtn
 /*ul的li子类的a子类，和class=dropbtn子类*/

 {
     display: inline-block;
     /*宽度随内容变化的块*/
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }
 /*hover效果*/

 .daohanglan li a:hover,
 .dropdown:hover,
 .dropbtn
 /*ul的li子类的a子类，dropdown类，dropbtn类*/

 {
     background-color: #111;
 }
 /*有下拉项的“按钮”*/

 .dropdown {
     display: inline-block;
     float: left;/*加上去后，按钮才能按正常顺序*/
 }
 /*下拉菜单的菜单项*/
 .dropdown-content {
     display: none;
     /*隐藏*/
     position: absolute;
     /*对于已定位父元素固定*/
     background-color: #f9f9f9;
     min-width: 160px;
     z-index: 1;/*堆叠顺序在上面*/
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     /*加上阴影*/
 }
 /*下拉菜单的a*/

 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
 }
 /*菜单项里面a 标签hover时变色*/

 .dropdown-content a:hover {
     background-color: #f1f1f1
 }

 /*dropdown hover时显示菜单项  重点！！*/
 /*.dropdown:hover的子类.dropdown-content为块*/
 .dropdown:hover .dropdown-content {
     display: block;
 }


 /*垂直导航栏*/
 .left-guide{

 }
 
.chuizhi {
    list-style-type: none;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;/*能实现下拉时不动*/
    height: 100%;
    overflow: auto;/*内容溢出时*/
}

.chuizhi li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;/*去调a标签的下划线*/
}

.chuizhi li a.active {
    background-color: #4CAF50;
    color: white;
}

.chuizhi li a:hover:not(.active) {
    background-color: #555;
    color: white;
}