* {margin: 0;padding: 0 }

.part{
    margin:20px;
    border-bottom-style:solid;
    border-bottom-color:grey; 
    border-bottom-width: 1px;
}

.code {
    /*//background-color: #CCCCCC;*/
    width:60%;
    margin: 10px;
    border-radius: 5px;
    overflow: auto;
}

button {
  margin: 10px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;   
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.orange{
    background-color: orange;
}

.orange:hover{
    background-color: yellow;
    color:black;
}